#
# Kernel modules
#
#
# Cryptographic API modules
#
CONFIG_PACKAGE_kmod-crypto-aead=n
CONFIG_PACKAGE_kmod-crypto-ccm=n
CONFIG_PACKAGE_kmod-crypto-cmac=n
CONFIG_PACKAGE_kmod-crypto-ctr=n
CONFIG_PACKAGE_kmod-crypto-gcm=n
CONFIG_PACKAGE_kmod-crypto-gf128=n
CONFIG_PACKAGE_kmod-crypto-ghash=n
CONFIG_PACKAGE_kmod-crypto-hmac=n
CONFIG_PACKAGE_kmod-crypto-manager=n
CONFIG_PACKAGE_kmod-crypto-null=n
CONFIG_PACKAGE_kmod-crypto-rng=n
CONFIG_PACKAGE_kmod-crypto-seqiv=n
CONFIG_PACKAGE_kmod-crypto-sha512=n
# end of Cryptographic API modules
#
# Hardware Monitoring Support
#
CONFIG_PACKAGE_kmod-hwmon-core=n
# end of Hardware Monitoring Support
#
# Netfilter Extensions
#
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-socket=y
CONFIG_PACKAGE_kmod-nft-fullcone=y
CONFIG_PACKAGE_kmod-nft-socket=y
# end of Netfilter Extensions
#
# Network Support
#
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tun=y
# end of Network Support
#
# Wireless Drivers
#
CONFIG_PACKAGE_kmod-ath=n
CONFIG_PACKAGE_kmod-ath10k-ct=n
CONFIG_PACKAGE_kmod-cfg80211=n
CONFIG_PACKAGE_kmod-mac80211=n
# end of Wireless Drivers
# end of Kernel modules
