#
# Network
#
#
# File Transfer
#
CONFIG_PACKAGE_curl=y
# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_miniupnpd-nftables=y
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_dns2socks=y
CONFIG_PACKAGE_geoview=y
# end of IP Addresses and Names
#
# Routing and Redirection
#
CONFIG_PACKAGE_ip-full=y
# end of Routing and Redirection
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_microsocks=y
CONFIG_PACKAGE_shadowsocks-libev-ss-local=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocks-libev-ss-server=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-local=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir=y
CONFIG_PACKAGE_sing-box=y
#
# Customizing build tags
#
CONFIG_SING_BOX_WITH_CLASH_API=y
CONFIG_SING_BOX_WITH_DHCP=y
CONFIG_SING_BOX_WITH_ECH=y
CONFIG_SING_BOX_WITH_GVISOR=y
CONFIG_SING_BOX_WITH_QUIC=y
CONFIG_SING_BOX_WITH_UTLS=y
CONFIG_SING_BOX_WITH_WIREGUARD=y
# end of Customizing build tags
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_v2ray-plugin=y
# end of Web Servers/Proxies
#
# WirelessAPD
#
CONFIG_DRIVER_11AC_SUPPORT=n
# end of WirelessAPD
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_iw=n
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_simple-obfs=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_trojan-plus=y
CONFIG_PACKAGE_xray-core=y
# end of Network

